.main {
    display: flex;
    flex-flow: column;
}

.header {
    width: 100%;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header div:last-child{
    font-weight: 500;
    margin-right: 20px;
    align-self: flex-end;
}

.header div a:hover{
    text-decoration: underline;
}

.header h1, .header h2, .header h3, .header h4,.header h5 {
    margin: 0 10px;
}

.top_row {
    padding: 10px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--main-color-light);
}

.top_row h2 {
    margin: 0 auto 0 0;
    color: darkslategrey;
}

/*.top_row h2 a {*/
/*    font-size: 1rem;*/
/*    font-weight: normal;*/
/*    text-decoration: underline;*/
/*    margin: 2px 8px 0;*/
/*}*/

.top_row a:hover {
    text-decoration: underline;
}

.top_row .add_button {
    border-radius: 5px;
    -webkit-transition: all .1s;
    transition: all .1s;
    padding: 5px 10px;
    margin-left: 10px;
}

.top_row .add_button:disabled, .top_row .add_button:hover:disabled {
    background: unset;
    color: gray;
    cursor: not-allowed;
}

.top_row .add_button:hover {
    background: var(--main-color);
    border-color: var(--main-color-shadow);
    color: #fafafa;
}

.inventory_list, .top_row {
    padding: 10px;
}

.inventory_list {
    overflow: auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
}