.main {

}

.header {
    width: 100%;
    padding: 10px;
    background: var(--main-color);
    color: #fff;
}

.header h1, .header h2, .header h3, .header h4,.header h5 {
    margin: 0 10px;
}

.top_row {
    padding: 10px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: var(--main-color-light);
}

.top_row h2 {
    margin: 0 auto 0 0;
    color: darkslategrey;
}

.top_row a:hover {
    text-decoration: underline;
}

.top_row .add_button {
    border-radius: 5px;
    -webkit-transition: all .1s;
    transition: all .1s;
    padding: 5px 10px;
}

.top_row .add_button:hover {
    background: #0243de;
    color: #fafafa;
}

.inventory_list, .top_row {
    padding: 10px;
}

.inventory_list {

}